body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  background-color: #006824;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#script-parent {
  width: 100%;
  min-width: 100%;
  border: none;
}

main {
  background-color: #009935;
  padding: 0 20px;
  flex: 1 0 auto;
  position: relative;
  z-index: 1000;

  @media (max-width: 720px) {
    padding: 0 20px;
  }
}

footer {
  height: 1500px;
  background-color: #006824;
  width: 100%;
  z-index: 1000;
}

/* Node styles */
#node-1,
#node-2,
#node-3 {
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#node-1 {
  background-color: #ff7675;
}

#node-2 {
  background-color: #74b9ff;
}

#node-3 {
  background-color: #55efc4;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 2000; /* Below the banner and corner widget */
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
